@import "public-web-styles/all"

.scene
  position: relative
  overflow: hidden
  min-height: 100vh
  z-index: 1
  .marker
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
  .video-marker
    position: absolute
    left: 50%
    top: 50%
    min-width: 100%
    min-height: 100%
    transform: translate(-50%,-50%)
  .blocking
    min-height: 100vh
    width: 100vw
    position: relative
  .backing
    will-change: transform

.scene-two
  .graph
    overflow: hidden
    display: flex
    flex-direction: column
    .item
      width: 100%
    .bar
      width: 100%
      height: 5vh

.scene-three
  .marker
    opacity: 0
  height: 200vh

.scene-four
  height: 900vh
  .horz-gallery
    width: 500vw
    transform: translate(200vw,0)
    overflow: hidden
    display: flex
    justify-content: flex-start
    align-items: center
