*
  margin: 0
  padding: 0
  box-sizing: border-box

$blue: #aaa
$cream: #bbb
$yellow: #ccc
$gold: #ddd
$red: #eee

html
  background-color: $cream

section
  height: 100vh
  opacity: 1
  position: relative
  z-index: 2
  &:nth-child(5n+1)
    background-color: $cream
  &:nth-child(5n+2)
    background-color: $yellow
  &:nth-child(5n+3)
    background-color: $cream
  &:nth-child(5n+4)
    background-color: $gold
  &:nth-child(5n+5)
    background-color: $red
  &.scene-six
    height: 200vh
  &.scene-three
    height: 200vh
  &.upper
    z-index: 3
  &.lower
    z-index: 1
  .blocking
    height: 100vh
    width: 100vw
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 10px 0
  .backing
    will-change: position
  .unit
    will-change: opacity, transform
    transform: translate3d(0,0,0)
    width: 50vw
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
  .character
    will-change: opacity, transform
    width: 80px
    height: 80px
    margin: 10px

  .thing
    background-color: $red
  .thang
    background-color: $gold
  .thung
    background-color: $yellow
  .theng
    background-color: $blue
  .thong
    background-color: $cream
