@import "public-web-styles/all"

.scene
  position: relative
  overflow: hidden
  min-height: 100vh
  z-index: 1
  .marker
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
  .blocking
    min-height: 100vh
    width: 100vw
    position: relative
  .backing
    will-change: transform


.scene-one
  h3
    +center-horizontally(11em, ($breakpoint-width-extra-small, 18.6em))
  p
    +center-horizontally(17em, ($breakpoint-width-extra-small, 22em), ($breakpoint-width-medium, 100%))

.scene-two,
.scene-four
  height: 300vh

.scene-three
  video
    max-width: 100%

.scene-four
  .copy,
  .imageb,
  .imagec
    opacity: 0
