/* line 1, ../../assets/sass/app.sass */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 12, ../../assets/sass/app.sass */
html {
  background-color: #fbf7d9;
}

/* line 15, ../../assets/sass/app.sass */
section {
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
/* line 20, ../../assets/sass/app.sass */
section:nth-child(5n+1) {
  background-color: #fbf7d9;
}
/* line 22, ../../assets/sass/app.sass */
section:nth-child(5n+2) {
  background-color: #edca60;
}
/* line 24, ../../assets/sass/app.sass */
section:nth-child(5n+3) {
  background-color: #fbf7d9;
}
/* line 26, ../../assets/sass/app.sass */
section:nth-child(5n+4) {
  background-color: #c3984e;
}
/* line 28, ../../assets/sass/app.sass */
section:nth-child(5n+5) {
  background-color: #a5594a;
}
/* line 31, ../../assets/sass/app.sass */
section.scene-one .blocking {
  position: fixed;
  left: 0;
  top: 0;
}
/* line 35, ../../assets/sass/app.sass */
section.scene-two, section.scene-six {
  height: 300vh;
}
/* line 38, ../../assets/sass/app.sass */
section.scene-three {
  height: 200vh;
}
/* line 41, ../../assets/sass/app.sass */
section.scene-four .character {
  height: 100vh;
  width: 50vw;
}
/* line 44, ../../assets/sass/app.sass */
section .blocking {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 51, ../../assets/sass/app.sass */
section .unit {
  will-change: opacity, transform;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 50vw;
  height: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 57, ../../assets/sass/app.sass */
section .unit > * {
  margin: 0 1vw;
}
/* line 59, ../../assets/sass/app.sass */
section .character {
  will-change: opacity, transform;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 25vw;
  height: 50vh;
}
/* line 65, ../../assets/sass/app.sass */
section .thing {
  background-color: #a5594a;
}
/* line 67, ../../assets/sass/app.sass */
section .thang {
  background-color: #c3984e;
}
/* line 69, ../../assets/sass/app.sass */
section .thung {
  background-color: #edca60;
}
/* line 71, ../../assets/sass/app.sass */
section .theng {
  background-color: #1c5258;
}
/* line 73, ../../assets/sass/app.sass */
section .thong {
  background-color: #fbf7d9;
}

/* line 76, ../../assets/sass/app.sass */
video {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100vw;
  min-height: 100vh;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
