/* line 1, ../../assets/sass/app.sass */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, ../../assets/sass/app.sass */
.scene {
  position: relative;
  overflow: hidden;
  height: 100vh;
  z-index: 2;
}
/* line 11, ../../assets/sass/app.sass */
.scene:nth-child(odd) {
  background-color: #ddd;
}
/* line 13, ../../assets/sass/app.sass */
.scene .marker {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 18, ../../assets/sass/app.sass */
.scene .blocking {
  height: 100vh;
  width: 100vw;
  position: relative;
}
/* line 22, ../../assets/sass/app.sass */
.scene .backing {
  will-change: transform;
}
/* line 24, ../../assets/sass/app.sass */
.scene .character {
  will-change: opacity, transform;
  background-color: #aaa;
  width: 25vh;
  height: 25vh;
}
